<header class='top-page-header'>
  <div class="nav">
    <ul class="list-upper">
      <% if user_signed_in? %>
        <li><%= current_user.name %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-info" %></li>
      <% else %>
        <%= render "devise/registrations/new" %>
      <% end %>
    </ul>
  </div>
  <div class="link-list">
    <hr>
    <%# ここにリンクのリストを作成する %><%# ここにList Titleを挿入 %>
    Link
    <hr>
    <ul class="list-lower">
      <li><%= link_to "Top", root_path, class: "nav-list" %>
      <li><%= link_to "User list", explores_path, class: "nav-list" %></li>
      <li><%= link_to "Post - Evaluation", new_evaluation_path, class: "nav-list" %></li>
      <li><%= link_to "Edit registration", edit_user_registration_path, class: "nav-list" %>
      <li><%= link_to "Edit profile", edit_profile_path(current_user.profile.id), class: "nav-list"%>
    </ul>
    <hr>
  </div>
</header>

<div class="main">
  <%# ここにList Titleを挿入 %>
  Your profile
  <hr>
  <div class="profile-details">
    <div class="profile-details-left">
      <ul>
        <%# ここにアバター画像が表示されるようにする %>
      </ul>
    </div>
    <div class="profile-details-right">
      <ul>
        <li>NAME:<%= current_user.name %></li>
        <li>TEAM:<%= current_user.profile.team.name %></li>
        <li>CONTACT INFORMATION:<%= current_user.profile.contact %>
        <li><%= link_to "Edit your profile details", edit_profile_path(current_user.profile.id), method: :get, class: "edit-profile"%></li>
      </ul>
    </div>
  </div>
  <hr>
</div>

<%= render template: "evaluations/index" %>

