<header class='top-page-header'>
  <div class="nav">
    <ul class="list-upper">
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, "#", class: "nav-info" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-info" %></li>
      <% else %>
        <%= render "devise/registrations/new" %>
      <% end %>
    </ul>
  </div>
  <div class="link-list">
    <ul class="list-lower">
      <%# ここにリンクのリストを作成する %>
      <li><%= link_to "User list", explores_path, class: "nav-list" %></li>
    </ul>
  </div>
</header>

<div class="main">
  <div class="profile-details">
    <div class="profile-details-left">
      <ul>
        <%# ここにアバター画像が表示されるようにする %>
      </ul>
    </div>
    <div class="profile-details-right">
      <ul>
        <li>NAME:<%= current_user.name %></li>
        <li>TEAM:<%= current_user.profile.team.name %></li>
        <li>CONTACT INFORMATION:<%= current_user.profile.contact %>
        <li><%= link_to "Edit your profile details", edit_profile_path(current_user.profile.id), method: :get, class: "edit-profile"%></li>
      </ul>
    </div>
  </div>
  <%# <div class="new-post"> %>
    <%# <% if @evaluations.any? %> %>
      <%# <%= @evaluations.each do |evaluation| %> %>
        <%# <ul> %>
          <%# ---------------------------------------------- %>
          <%# User Name <%= evaluation.user.name %> %>
          <%# Posted Date <%= evaluation.created_at %> %>
          <%# Team <%= evaluation.user.profile.team.name %> %>
          <%# ---------------------------------------------- %>
        <%# </ul> %>
      <%# <% end %> %>
    <%# <% else %> %>
      <%# Evaluations appear here after new evaluation posted. %>
    <%# <% end %> %>
  <%# </div> %>
  <div class="new-update">
  </div>
</div>