<%# header without method %>
<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <%= link_to "PERISCOPE", root_path, class: "logo"%>
    </div>
  </div>
</header>
<%# //header without method %>

<div class="wrapper">
  <div class="title">
    プロフィール作成
  </div>

  <%= form_with model: @profile, method: :post, local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>
  
    <div class='form-box'>
      <div class="field">
        <p>プロフィール画像</p>
        <div class="avatar-field">
          <%= f.label :avater, for: "avatar", class: "fa fa-file-image-o" do %>
          <%= f.file_field :avatar, id:"avatar", style: "display:none", class:"upload-file" %>
          <% end %>
        </div>
      </div>
      <div class="field">
        <p>連絡先情報</p>
        <%= f.text_area :contact, id:"profiles-text", placeholder: "TEL: 000-0000-0000", class: "form-contact" %>
      </div>
      <div class="field">
        <p>所属チーム</p>
        <%= f.collection_select(:team_id, Team.all, :id, :name, {include_blank: "---"}, {class:"form-team"}) %>
      </div>
      <div class="field">
        <p>入社日</p>
        <%= f.date_field :joining_date, class: "form-date" %>
      </div>
      <div class="field">
        <%= f.submit "登録" ,class:"submit" %>
      </div>
    </div>
  <% end %>
</div>