<%= render "shared/header" %>


<div class="title">
  <% if @profile.user.id == current_user.id %>
  <p>Your profile</p>
  <% end %>
</div>

<div class="profile-details">
  <div class="profile-avatar">
    <% if @profile.avatar.attached? %>
      <%= image_tag @profile.avatar.variant(gravity: :center, resize:"150x150^", crop:"150x150+0+0").processed, class:"avatar"%>
    <% else %>
      <%= image_tag ("noimage.png"), class:"avatar" %>
    <% end %>
  </div>

  <ul class="profile-content">
    <li>NAME</li>
    <p><%= @profile.user.name %></p>
    <li>TEAM</li>
    <p><%= @profile.team.name %></p>
    <li>JOINING DATE</li>
    <p><%= @profile.joining_date %></p>
    <li>CONTACT INFORMATION</li>
    <p><%= safe_join(@profile.contact.split("\n"),tag(:br))%></p>
    <% if @profile.user.id == current_user.id %>
      <%= link_to "EDIT", edit_profile_path(current_user.profile.id), method: :get, class: "profile-edit-button"%>
    <% end %>
  </ul>
</div>



<div class="subtitle">
  Evaluation Lists
</div>

<div class="contents-box">
  <% if @evaluations.any? %>
    <% @evaluations.each do |evaluation| %>
      <div class="new-post">
        <div class="post-info">
          <p>
            投稿日...<%= evaluation.created_at.strftime('%Y/%m/%d') %> | 営業期...<%= evaluation.fiscal_year.strftime('%Y/%m') %>
          </p>
        </div>
        
        <ul class="post-contents">
          <li>Goal</li>
          <p><%= safe_join(evaluation.goal.split("\n"),tag(:br))%></p>
          <li>Result</li>
          <p><%= safe_join(evaluation.result.split("\n"),tag(:br))%></p>
        </ul>
        
        <div class="link-button">
          <%if evaluation.user.id == current_user.id %>
            <p><%= link_to "Edit", edit_evaluation_path(evaluation.id) %></p>
            <p><%= link_to "Details", evaluation_path(evaluation.id) %></p>
          <% else %>
            <p><%= link_to "Details", evaluation_path(evaluation.id) %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="new-post">
      <p>Evaluations appear here after new evaluation posted.</p>
    </div>
  <% end %>
</div>