<%= render "shared/header" %>

<div class="main">
  <div class="profile-details">
    <% if @profile.user.id == current_user.id %>
    Your profile
    <hr>
    <% end %>
    <div class="profile-details-left">
      <ul>
        <%# ここにアバター画像が表示されるようにする %>
      </ul>
    </div>
    <div class="profile-details-right">
      <ul>
        <li>NAME:<%= @profile.user.name %></li>
        <li>TEAM:<%= @profile.team.name %></li>
        <li>CONTACT INFORMATION:<%= @profile.contact %>
        <% if @profile.user.id == current_user.id %>
          <li><%= link_to "Edit your profile details", edit_profile_path(current_user.profile.id), method: :get, class: "edit-profile"%></li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr>
</div>

<div class="evaluation-list">
  <%# ここにList Titleを挿入 %>
  Evaluation Lists
  <hr>
  <div class="new-post">
    <% if @evaluations.any? %>
      <% @evaluations.each do |evaluation| %>
          <%= evaluation.id %> : <%= evaluation.created_at %>
          <%if evaluation.user.id == current_user.id %>
            <%= link_to "Edit", edit_evaluation_path(evaluation.id) %>
            <%= link_to "Details", evaluation_path(evaluation.id) %>
          <% else %>
            <%= link_to "Details", evaluation_path(evaluation.id) %>
          <% end %>
        <ul>
          <li>Fiscal Year <%= evaluation.fiscal_year.year %>/<%= evaluation.fiscal_year.month %>
          <li>Goal <%= evaluation.goal %></li>
          
          <% if evaluation.result %>
            <li>Result <%= evaluation.result %></li>
          <% else %>
          Result haven't posted yet.
          <% end %>
        </ul>
      <% end %>

    <% else %>
      Evaluations appear here after new evaluation posted.
    <% end %>
  </div>
  <hr>

  <div class="new-update">
  </div>
</div>