<header>
  <div class="top-bar">
    <div class="top-bar-box">
      <div class="top-bar-left">
        <% if current_user.profile.avatar.attached? %>
          <%= image_tag current_user.profile.avatar.variant(resize: "50x50"), class:"avatar"%>
        <% else %>
          <%= image_tag ("noimage.png"),class:"avatar" %>
        <% end %>
      </div>

      <div class="top-bar-middle">
        <%= link_to "PERISCOPE", root_path, class: "logo"%>
      </div>


      <div class="top-bar-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.name, profile_path(current_user.profile.id), class: "top-link" %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "top-link" %></li>
        <% else %>
          <%= render "devise/registrations/new" %>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="top-link-list">
      <ul>
        <li><%= link_to "User list", explores_path, class: "top-link" %></li>
        <li><%= link_to "Post - Evaluation", new_evaluation_path, class: "top-link" %></li>
        <li><%= link_to "Edit registration", edit_user_registration_path, class: "top-link" %></li>
        <li><%= link_to "Edit profile", edit_profile_path(current_user.profile.id), class: "top-link"%></li>
      </ul>
    </div>
  </div>
</header>