<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <%= link_to "PERISCOPE", root_path, class: "logo"%>
    </div>
<% if user_signed_in? %>
    <ul class="top-bar-right">
      <li><%= link_to current_user.name, profile_path(current_user.profile.id), class: "top-link" %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "top-link" %></li>
      <li>
        <button class="nav-toggle, hamburger" aria-expanded="false" type="button" id="hamburger">
          <span class="hamburger_line">
            <span class="hidden-name">MENU開閉</span>
          </span>
        </button>
      </li>
    </ul>
  </div>
  
  <div class="nav">
    <ul class="nav-link">
      <li><%= link_to "EXPLORE", explores_path, class: "top-link" %></li>
      <li><%= link_to "NEW POST", new_evaluation_path, class: "top-link" %></li>
      <li><%= link_to "EDIT REGI.", edit_user_registration_path, class: "top-link" %></li>
      <li><%= link_to "EDIT PROF.", edit_profile_path(current_user.profile.id), class: "top-link"%></li>
    </ul>
  </div>
<% end %>
</header>